# The XDKs. You supply your own; they are not redistributable.
xbox/xdk/lib/*.lib
xbox/xdk/include/*
!xbox/xdk/include/.gitkeep
xbox360/xdk/

.DS_Store
dist/

# Build output
*.o
*.o.tmp
*.obj
*.a
*.exe
*.map
*.pdb
*.elf
*.bin
*.xbe
*.xex
*.pe
*.image
.oxdklink/

# Built tools
xbox/tools/cxbe/cxbe
xbox360/tools/cxex/cxex
xbox/tools/xbx/go/xbx-convert
xbox/tools/xbx/go/xbx-convert.exe
xbox/tools/xbx/go/dist/

# xbx-convert dev samples
xbox/tools/xbx/nanoha.png
xbox/tools/xbx/nanoha.xbx

xbox360/oxdk360/libcxx-lib/build/

