# XDK files -- users must supply their own
xdk/lib/*.lib
xdk/include/*
!xdk/include/.gitkeep

# Build output (but not the bin/ wrapper scripts)
**/bin/*.obj
**/bin/*.exe
**/bin/*.xbe
**/bin/*.map
*.obj
*.exe
*.xbe
*.map
*.pdb

# cxbe binary
tools/cxbe/cxbe
.DS_Store
